<div class="container">
    <div class="row">
        <div class="alert alert-success" role="alert">
            <h3 class="card-title alert-heading">{{title}}</h3>
            <p class="card-text">{{post_text}}</p>
            <hr>

            <ul class="nav list-unstyled d-flex ">
                <li><p class="card-text">By: {{user.username}}</p></li>
                <li class="ms-5"><p>{{format_date created_at}}</p></li>
                <div class="meta ms-5">
                <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
            </div>
            </ul>

            <a class="btn btn-warning" href="/post/{{id}}">Read more →</a>
            
        </div>
    </div>
</div>